src/footage/split-video.sh filter=lfs diff=lfs merge=lfs -text
src/footage/traditional2.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-1.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/how.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/intro.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/outro.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/screen.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/why.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-4.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-8.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/traditional.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-6.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/outside.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/screen3.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-9.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/P1000318.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/P1000320.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-2.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-3.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-5.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1-7.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/stairs.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/apple-long.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/editing.mp4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep1.MP4 filter=lfs diff=lfs merge=lfs -text
src/footage/codep2.MP4 filter=lfs diff=lfs merge=lfs -text
